<robot name="Room14">
    <link name="_name">
        <visual> 
            <origin rpy="0.0 0.0 0.0" xyz="-0.5134186134601288 -0.48575653094583376 -0.009999999999999993" />
                <geometry>
                    <mesh filename="Room14/Room14.obj" scale="1 1 0.1" />
                </geometry>

            <material name="black">
                <color rgba="0.2 0.2 0.2 0.95" />
            </material>
        </visual>

       <collision concave="yes" name="collision_0">
            <origin rpy="0.0 0.0 0.0" xyz="-0.5134186134601288 -0.48575653094583376 -0.009999999999999993" />
            <geometry>
                <mesh filename="Room14/Room14_vhacd.obj" scale="1 1 0.1" />
            </geometry>
        </collision>

        <inertial> 
            <mass value="0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial> 
    </link>
</robot>